{% extends 'base.html' %}

{% block content %}
  <section class="text-gray-600 body-font relative">
    <div class="absolute inset-0 bg-gray-300">
      <iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=%EA%B2%BD%EA%B8%B0%EB%8C%80%ED%95%99%EA%B5%90+(%EC%97%B0%EA%B5%AC%EC%8B%A4)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" style="filter: grayscale(0) contrast(1) opacity(1);"></iframe>
    </div>

    <div class="container px-5 py-60 mx-auto flex"></div>
  </section>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full bg-gray-100 p-8 rounded">
            <ul>
              <li class="font-bold font-sans text-blue-700 pb-5">
                광교역에서 오시는 길
              </li>
            </ul>

            <p class="leading-relaxed mb-6">광교역 1번 출구로 나와 직진하다 경기대 후문 입구에서 우회전합니다.

            </p>
            <a class="inline-flex items-center">
              <img alt="testimonial" src="https://dummyimage.com/106x106" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900">Holden Caulfield</span>
                <span class="text-gray-500 text-sm">UI DEVELOPER</span>
              </span>
            </a>
          </div>
        </div>
        <div class="p-4 md:w-1/2 w-full">
          <div class="h-full bg-gray-100 p-8 rounded">

            <p class="leading-relaxed mb-6">Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom try-hard pabst authentic iceland.</p>
            <a class="inline-flex items-center">
              <img alt="testimonial" src="https://dummyimage.com/107x107" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
              <span class="flex-grow flex flex-col pl-4">
                <span class="title-font font-medium text-gray-900">Alper Kamu</span>
                <span class="text-gray-500 text-sm">DESIGNER</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
