{% extends "base.html" %}

{% block content %}
<!-- component -->
  <style>
    dialog[open] {
      animation: appear 0.15s cubic-bezier(0, 1.8, 1, 1.8);
    }

    dialog::backdrop {
      background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(54, 54, 54, 0.5));
      backdrop-filter: blur(3px);
    }

    @keyframes appear {
      from {
        opacity: 0;
        transform: translateX(-3rem);
      }

      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
  </style>
  <!-- component -->
  <!-- This is an example component -->
  <section class="max-w-full mx-auto px-4 sm:px-6 lg:px-4 pb-12">

    <div class="text-center py-10 ">
      <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">
        Publications
      </h1>
    </div>
    
<div class="flex justify-start  ">
  <div>
    <div class="dropdown relative">
      <button
        class="
          dropdown-toggle
          px-6
          py-2.5
          bg-blue-600
          text-white
          font-medium
          text-xs
          leading-tight
          uppercase
          rounded
          shadow-md
          hover:bg-blue-700 hover:shadow-lg
          focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
          active:bg-blue-800 active:shadow-lg active:text-white
          transition
          duration-150
          ease-in-out
          flex
          items-center
          whitespace-nowrap
        "
        type="button"
        id="dropdownMenuButton1d"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        toggle
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="caret-down"
          class="w-2 ml-2"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
        >
          <path
            fill="currentColor"
            d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"
          ></path>
        </svg>
      </button>
      <ul
        class="
          dropdown-menu
          min-w-max
          absolute
          hidden
          bg-white
          text-base
          z-50
          float-left
          py-2
          list-none
          text-left
          rounded-lg
          shadow-lg
          mt-1
          hidden
          m-0
          bg-clip-padding
          border-none
        "
        aria-labelledby="dropdownMenuButton1d"
      >
        <li>
          <a
            class="
              dropdown-item
              text-sm
              py-2
              px-4
              font-normal
              block
              w-full
              whitespace-nowrap
              bg-transparent
              text-gray-700
              hover:bg-gray-100
            "
            href="{% url 'journal' 'default' %}"
            >all</a
          >
        </li>
        <li>
          <a
            class="
              dropdown-item
              text-sm
              py-2
              px-4
              font-normal
              block
              w-full
              whitespace-nowrap
              bg-transparent
              text-gray-700
              hover:bg-gray-100
            "
            href="{% url 'journal' 'International Papers' %}"
            >International Papers</a
          >
        </li>
        <li>
          <a
            class="
              dropdown-item
              text-sm
              py-2
              px-4
              font-normal
              block
              w-full
              whitespace-nowrap
              bg-transparent
              text-gray-700
              hover:bg-gray-100
            "
            href="{% url 'journal' 'International Conference' %}"
            >International Conference</a
          >
        </li>
        <hr class="h-0 my-2 border border-solid border-t-0 border-gray-700 opacity-25" />
        <li>
          <a
            class="
              dropdown-item
              text-sm
              py-2
              px-4
              font-normal
              block
              w-full
              whitespace-nowrap
              bg-transparent
              text-gray-700
              hover:bg-gray-100
            "
            href="{% url 'journal' 'Domestic Papers' %}"
            >Domestic Papers</a
          >
        </li>
        <li>
          <a
            class="
              dropdown-item
              text-sm
              py-2
              px-4
              font-normal
              block
              w-full
              whitespace-nowrap
              bg-transparent
              text-gray-700
              hover:bg-gray-100
            "
            href="{% url 'journal' 'Domestic Conference' %}"
            >Domestic Conference</a
          >
        </li>
        <hr class="h-0 my-2 border border-solid border-t-0 border-gray-700 opacity-25" />
        <li>
          <a
            class="
              dropdown-item
              text-sm
              py-2
              px-4
              font-normal
              block
              w-full
              whitespace-nowrap
              bg-transparent
              text-gray-700
              hover:bg-gray-100
            "
            href="{% url 'journal' 'Patents' %}"
            >Patents</a
          >
        </li>

      </ul>
    </div>
  </div>
</div>
    {% for obj in data %}
      <div class="text-left pt-10 pb-3 border-b-4 border-gray-300">
        <h4 class="font-bold text-2xl md:text-2xl lg:text-2xl font-heading text-gray-900 ">
          {{obj.0}}
        </h4>
      </div>
      {% comment %} section start {% endcomment %}
      {% for list in obj.1 %}
        <div class=' pt-6'>
          <div class="rounded-xl border p-5 shadow-md bg-white">
            <div class="flex w-full items-center justify-between border-b pb-3">
              <div class="flex items-center space-x-3"></div>
              <div class="flex items-center space-x-4">
                {% if list.category == 'International Papers' %}
                  <button class="rounded-2xl border border-green-400 text-green-500 bg-neutral-100 px-3 py-1 text-xs   font-semibold">{{list.category}}</button>
                {% elif list.category == 'International Conference' %}
                  <button class="rounded-2xl border border-cyan-400 text-cyan-500 bg-neutral-100 px-3 py-1 text-xs font-semibold">{{list.category}}</button>
                {% elif list.category == 'Domestic Papers' %}
                  <button class="rounded-2xl border border-rose-400 text-rose-500 bg-neutral-100 px-3 py-1 text-xs font-semibold">{{list.category}}</button>
                {% elif list.category == 'Domestic Conference' %}
                  <button class="rounded-2xl border border-yellow-400 text-yellow-500 bg-neutral-100 px-3 py-1 text-xs font-semibold">{{list.category}}</button>
                {% else %}
                  <button class="rounded-2xl border border-blue-400 text-blue-500 bg-neutral-100 px-3 py-1 text-xs font-semibold">{{list.category}}</button>
                {% endif %}
                <button class="rounded-2xl border border-purple-300 text-purple-500 bg-neutral-100 px-3 py-1 text-xs font-semibold">{{list.date}}</button>
              </div>  
            </div>
      
            <div class="mt-4 mb-6 min-w-full">
              <div class="mb-3 text-xl font-bold">{{forloop.counter}}) {{list.title}}</div>
            </div>
      
           
          </div>
        </div>
    {% comment %} section end {% endcomment %}
      <dialog id="{{list.id}}" class="h-auto w-11/12 md:w-1/2 p-5  bg-white rounded-md ">
      
        <div class="flex flex-col w-full h-auto ">
          <!-- Header -->
          <div class="flex w-full h-auto justify-center items-center pl-16">
            <div class="flex w-10/12 h-auto py-3 justify-center items-center text-2xl font-bold">
              {{list.title}} Detail
            </div>
            <div onclick="document.getElementById('{{list.id}}').close();" class="flex w-1/12 h-auto justify-center cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
              </svg>
            </div>
            <!--Header End-->
          </div>
          <!-- Modal Content-->
          <div class="flex w-full h-auto py-10 px-2 justify-center items-center bg-gray-200 rounded text-center text-gray-500">
            {{list.detail|safe}}
          </div>
          <!-- End of Modal Content-->
    
        </div>
      </dialog>      
      {% endfor %}
    {% endfor %}

    <!--11~20 data-->
    {% comment %} <div class="text-left pt-10 pb-3 border-b-4 border-gray-300">
        <h4 class="font-bold text-2xl md:text-2xl lg:text-2xl font-heading text-gray-900 ">
          2011 ~ 2020
        </h4>
    </div> {% endcomment %}

      
      {% comment %} section start {% endcomment %}
        {% comment %} <div class=' pt-6'>
          <div class="rounded-xl border p-5 shadow-md bg-white">
            <div class="flex w-full items-center justify-between border-b pb-3">
              <div class="flex items-center space-x-3"></div>
              <div class="flex items-center space-x-4">
                {% if obj.category == 'International Papers' %}
                  <button class="rounded-2xl border border-green-400 text-green-500 bg-neutral-100 px-3 py-1 text-xs   font-semibold">{{obj.category}}</button>
                {% elif obj.category == 'International Conference' %}
                  <button class="rounded-2xl border border-cyan-400 text-cyan-500 bg-neutral-100 px-3 py-1 text-xs font-semibold">{{obj.category}}</button>
                {% elif obj.category == 'Domestic Papers' %}
                  <button class="rounded-2xl border border-rose-400 text-rose-500 bg-neutral-100 px-3 py-1 text-xs font-semibold">{{obj.category}}</button>
                {% elif obj.category == 'Domestic Conference' %}
                  <button class="rounded-2xl border border-yellow-400 text-yellow-500 bg-neutral-100 px-3 py-1 text-xs font-semibold">{{obj.category}}</button>
                {% else %}
                  <button class="rounded-2xl border border-blue-400 text-blue-500 bg-neutral-100 px-3 py-1 text-xs font-semibold">{{obj.category}}</button>
                {% endif %}
                <button class="rounded-2xl border border-purple-300 text-purple-500 bg-neutral-100 px-3 py-1 text-xs font-semibold">{{obj.date}}</button>
              </div>  
            </div>
      
            <div class="mt-4 mb-6 min-w-full">
              <div class="mb-3 text-xl font-bold">{{forloop.counter}}) {{obj.title}}</div>
            </div>
      
            
          </div>
        </div> {% endcomment %}
    {% comment %} section end {% endcomment %}


    <!--00~10 data-->
    {% comment %} <div class="text-left pt-10 pb-3 border-b-4 border-gray-300">
        <h4 class="font-bold text-2xl md:text-2xl lg:text-2xl font-heading text-gray-900 ">
          2000 ~ 2010
        </h4>
      </div> {% endcomment %}
      
      {% comment %} section start {% endcomment %}
        {% comment %} <div class=' pt-6'>
          <div class="rounded-xl border p-5 shadow-md bg-white">
            <div class="flex w-full items-center justify-between border-b pb-3">
              <div class="flex items-center space-x-3"></div>
              <div class="flex items-center space-x-4">
                {% if obj.category == 'International Papers' %}
                  <button class="rounded-2xl border border-green-400 text-green-500 bg-neutral-100 px-3 py-1 text-xs   font-semibold">{{obj.category}}</button>
                {% elif obj.category == 'International Conference' %}
                  <button class="rounded-2xl border border-cyan-400 text-cyan-500 bg-neutral-100 px-3 py-1 text-xs font-semibold">{{obj.category}}</button>
                {% elif obj.category == 'Domestic Papers' %}
                  <button class="rounded-2xl border border-rose-400 text-rose-500 bg-neutral-100 px-3 py-1 text-xs font-semibold">{{obj.category}}</button>
                {% elif obj.category == 'Domestic Conference' %}
                  <button class="rounded-2xl border border-yellow-400 text-yellow-500 bg-neutral-100 px-3 py-1 text-xs font-semibold">{{obj.category}}</button>
                {% else %}
                  <button class="rounded-2xl border border-blue-400 text-blue-500 bg-neutral-100 px-3 py-1 text-xs font-semibold">{{obj.category}}</button>
                {% endif %}
                <button class="rounded-2xl border border-purple-300 text-purple-500 bg-neutral-100 px-3 py-1 text-xs font-semibold">{{obj.date}}</button>
              </div>  
            </div>
      
            <div class="mt-4 mb-6 min-w-full">
              <div class="mb-3 text-xl font-bold">{{forloop.counter}}) {{obj.title}}</div>
            </div>
      
           
          </div>
        </div> {% endcomment %}
    {% comment %} section end {% endcomment %}




  </section>
{% endblock content %}
