{% extends 'base.html' %}
{% load static %}

{% block content %}

  <link rel="stylesheet" href="{% static 'css/dist/newsstyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/dist/default.css' %}">
  <link rel="stylesheet" href="{% static 'css/dist/aos.css' %}">

  <body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0" cz-shortcut-listen="true">
    <script>
      AOS.init();
    </script>
    <div id="wrap">

      <!--header -->
      <div id="header">

        <!-- 콘텐츠 시작 { -->
        <div id="subWr" class="w1400 cbdb">
          <style>
            #bo_cate.cate_line ul {
              padding: 15px 14%;
            }

            #bo_cate.cate_line a {
              line-height: 18px !important;
            }

            @media (max-width:1200px) {
              #bo_cate.cate_line ul {
                padding: 15px 8%;
              }
            }

            @media (max-width:800px) {
              #bo_cate.cate_line ul {
                padding: 15px 0;
              }

              #bo_cate.cate_line a {
                line-height: 10px !important;
                padding: 5px !important;
              }
            }
          </style>
          <div id="sub_conWr">

            <div id="bo_list" style="width:100%">
              
              <!-- } 게시판 카테고리 끝 -->

              <form name="fboardlist" id="fboardlist" action="http://ool.snu.ac.kr/bbs/board_list_update.php" onsubmit="return fboardlist_submit(this);" method="post">
                <!-- } 게시판 페이지 정보 및 버튼 끝 -->

                <div class="tbl_head01 tbl_wrap">
                  <table>
                    <thead>
                      <tr>
                        <th scope="col" width="10%"><div class="flex justify-center">
  <div>
    <div class="dropdown relative">
      <a
        class="
          dropdown-toggle
          px-3
          py-2.5
          bg-gray-300
          text-white
          font-medium
          text-xs
          leading-tight
          uppercase
          rounded
          shadow-md
          transition
          duration-150
          ease-in-out
          flex
          items-center
          whitespace-nowrap
        "
        href="#"
        type="button"
        id="dropdownMenuButton2"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        분류
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="caret-down"
          class="w-2 ml-2"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
        >
          <path
            fill="currentColor"
            d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"
          ></path>
        </svg>
      </a>
      <ul
        class="
          dropdown-menu
          min-w-max
          absolute
          hidden
          bg-white
          text-base
          z-50
          float-left
          py-2
          list-none
          text-left
          rounded-lg
          shadow-lg
          mt-1
          hidden
          m-0
          bg-clip-padding
          border-none
        "
        aria-labelledby="dropdownMenuButton2"
      >
        <li>
          <a
            class="
              dropdown-item
              text-sm
              py-2
              px-4
              font-normal
              block
              w-full
              whitespace-nowrap
              bg-transparent
              text-gray-700
              hover:bg-gray-100
            "
            href="{% url 'News' 'research' %}"
            >research</a
          >
        </li>
        <li>
          <a
            class="
              dropdown-item
              text-sm
              py-2
              px-4
              font-normal
              block
              w-full
              whitespace-nowrap
              bg-transparent
              text-gray-700
              hover:bg-gray-100
            "
            href="{% url 'News' 'news' %}"
            >News</a
          >
        </li>
      </ul>
    </div>
  </div>
</div></th>
                        <th scope="col" width="70%">제목</th>
                        <th scope="col" class="rep" width="10%">글쓴이</th>
                        <!-- <th scope="col"><a href="/bbs/board.php?bo_table=sub5_4&amp;sop=and&amp;sst=wr_hit&amp;sod=desc&amp;sfl=&amp;stx=&amp;sca=&amp;page=1">조회 </a></th>-->
                        <th scope="col" class="rep" width="10%">
                          <a href="#">날짜
                          </a>
                        </th>
                      </tr>
                    </thead>
                    {% for obj in posts %}
                      <tbody>
                        <tr class="even">
                          <td class="td_num2">
                            {{obj.category}}
                          </td>

                          <td class="td_subject" style="padding-left:0px">
                            <div class="bo_tit ">
                              <a href="{% url 'post_detail' obj.id %}">
                                {{obj.title}}
                              </a>
                            </div>
                          </td>
                          <td class="td_name sv_use rep">
                            <span class="sv_member">Admin</span></td>
                          <!-- <td class="td_num">38</td>-->
                          <td class="td_datetime rep">{{obj.created_at|date:'Y M D'}}</td>

                        </tbody>
                      {% endfor %}
                    </table>
                  </div>
                  <div class="flex flex-col items-center justify-center mt-20 space-x-0 space-y-2 md:space-x-2 md:space-y-0 md:flex-row mb-10">
                    {% if page_obj.has_previous %}
                      <a href="?page={{page_obj.previous_page_number}}" class="w-full rounded-full btn btn-light btn-xl md:w-auto">Previous Page</a>
                    {% endif %}
                    {% if page_obj.has_next %}
                      <a href="?page={{page_obj.next_page_number}}" class="w-full rounded-full btn btn-light btn-xl md:w-auto">Next Page</a>
                    {% endif %}
                  </div>

                </form>

                <!-- } 게시판 목록 끝 -->

              </div>
              <!-- //본문끝 -->
            </div>
            <!-- } 콘텐츠 끝 -->

          </div>

          <!-- } 하단 끝 -->

          <script>
            $(function () {
              // 폰트 리사이즈 쿠키있으면 실행
              font_resize("container", get_cookie("ck_font_resize_rmv_class"), get_cookie("ck_font_resize_add_class"));
            });
          </script>

          <!-- ie6,7에서 사이드뷰가 게시판 목록에서 아래 사이드뷰에 가려지는 현상 수정 -->
          <!--[if lte IE 7]> <script> $(function() { var $sv_use = $(".sv_use"); var count = $sv_use.length; $sv_use.each(function() { $(this).css("z-index", count); $(this).css("position", "relative"); count = count - 1; }); }); </script> <![endif]-->

          <!-- 사용스킨 : basic -->
        </body>

      {% endblock content %}
