{% extends 'base.html' %}

{% block content %}
  <style>
    .quicksand {
      font-family: 'Nunito', sans-serif;
    }

    ::selection {
      background: #E9D8FD;
      color: #202684;

      /* WebKit/Blink Browsers */
    }

    ::-moz-selection {
      background: #E9D8FD;
      color: #202684;
      /* Gecko Browsers */
    }

    a:not(.nav),
    a:not(.sub) {
      font-weight: bold;
      text-decoration: none;
      padding: 2px;
      background: linear-gradient(to right, #5A67D8, #5A67D8);
      background-repeat: repeat-x;
      background-size: 100% 2px;
      background-position: 0 95%;
      -webkit-transition: all 150ms ease-in-out;
      -moz-transition: all 150ms ease-in-out;
      -ms-transition: all 150ms ease-in-out;
      -o-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out;
    }

    a:not(.sub):hover {
      color: #B794F4;
      font-weight: bold;
      text-decoration: none;
      padding-bottom: 2px;
      background: linear-gradient(to right, #9F7AEA, #E9D8FD);
      background-repeat: repeat-x;
      background-size: 100% 2px;
      background-position: 50% 95%;
      -webkit-transition: color 150ms ease-in-out;
      -moz-transition: color 150ms ease-in-out;
      -ms-transition: color 150ms ease-in-out;
      -o-transition: color 150ms ease-in-out;
      transition: color 150ms ease-in-out;
    }

    a:focus {
      outline: none;

    }

    ul {
      list-style: none;
    }
  </style>

  <div class="bg-gray-100 text-gray-700 font-sans quicksand ">

    <div class="p-6 flex flex-wrap">

      <div class="w-full md:w-2/6  order-3 md:order-1  md:flex md:justify-center">
        <div class="max-w-md md:float-right md:text-right leading-loose tracking-tight md:sticky md:top-0 md:border-r-2 md:p-10 md:shadow-lg md:rounded-xl mt-16 md:border-t-0 border-t-2  md:pb-10 pb-20">
          <p class="font-bold my-4 md:my-12">More Posts</p>

          <ul class="flex flex-wrap justify-between flex-col">
            {% for obj in prev %}
              <li class="">
                <a href="{% url 'post_detail' obj.id %}" class="nav sub inline-block overflow-hidden overflow-ellipsis w-60 whitespace-nowrap">{{obj.title}}</a>
              </li>
            {% endfor %}
            <li>
              <a href="{% url 'post_detail' post.id %}" class="nav font-extrabold sub overflow-hidden overflow-ellipsis inline-block w-60 whitespace-nowrap">{{post.title}}</a>
            </li>
            {% for obj in next %}
              <li>
                <a href="{% url 'post_detail' obj.id %}" class="nav sub overflow-hidden overflow-ellipsis inline-block w-60 whitespace-nowrap">{{obj.title}}</a>
              </li>
            {% endfor %}
          </ul>
          <a href="{% url 'post_list' 'default' %}" class="normal font-bold hover:font-bold">more...</a>
        </div>
      </div>
      <div class="w-full md:w-4/6 order-1 md:order-2 md:pl-16">
        <div class="min-w-md leading-loose tracking-tight">
          <h1 class="font-bold my-12 text-center text-2xl">{{post.title}}</h1>
          {{post.content|safe}}

        </div>
      </div>

    </div>

  {% endblock content %}
