{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- component -->
  <div class="w-full bg-white">
    <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
      <div class="text-center pb-12">
        <h2 class="text-base font-bold text-indigo-600">
          00000연구실
        </h2>
        <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-black">
          교수진
        </h1>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <a href="#">
          <div class="w-full bg-gray-900 rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
            <div>
              <img class="object-center object-cover h-auto w-full" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="photo">
            </div>
            <div class="text-center py-8 sm:py-6">
              <p class="text-xl text-white font-bold mb-2">Dany Bailey</p>
              <div class='flex justify-evenly'>
                <p class="text-base text-gray-400 font-normal">010-9422-4230</p>
                <div class='w-10 text-white'>|</div>
                <p class="text-base text-gray-400 font-normal">example.gmail.com</p>
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="w-full bg-gray-900 rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
            <div>
              <img class="object-center object-cover h-auto w-full" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="photo">
            </div>
            <div class="text-center py-8 sm:py-6">
              <p class="text-xl text-white font-bold mb-2">Dany Bailey</p>
              <div class='flex justify-evenly'>
                <p class="text-base text-gray-400 font-normal">010-9422-4230</p>
                <div class='w-10 text-white'>|</div>
                <p class="text-base text-gray-400 font-normal">example.gmail.com</p>
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="w-full bg-gray-900 rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
            <div>
              <img class="object-center object-cover h-auto w-full" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="photo">
            </div>
            <div class="text-center py-8 sm:py-6">
              <p class="text-xl text-white font-bold mb-2">Dany Bailey</p>
              <div class='flex justify-evenly'>
                <p class="text-base text-gray-400 font-normal">010-9422-4230</p>
                <div class='w-10 text-white'>|</div>
                <p class="text-base text-gray-400 font-normal">example.gmail.com</p>
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="w-full bg-gray-900 rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
            <div>
              <img class="object-center object-cover h-auto w-full" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="photo">
            </div>
            <div class="text-center py-8 sm:py-6">
              <p class="text-xl text-white font-bold mb-2">Dany Bailey</p>
              <div class='flex justify-evenly'>
                <p class="text-base text-gray-400 font-normal">010-9422-4230</p>
                <div class='w-10 text-white'>|</div>
                <p class="text-base text-gray-400 font-normal">example.gmail.com</p>
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="w-full bg-gray-900 rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
            <div>
              <img class="object-center object-cover h-auto w-full" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="photo">
            </div>
            <div class="text-center py-8 sm:py-6">
              <p class="text-xl text-white font-bold mb-2">Dany Bailey</p>
              <div class='flex justify-evenly'>
                <p class="text-base text-gray-400 font-normal">010-9422-4230</p>
                <div class='w-10 text-white'>|</div>
                <p class="text-base text-gray-400 font-normal">example.gmail.com</p>
              </div>
            </div>
          </div>
        </a>
        <a href="#">
          <div class="w-full bg-gray-900 rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
            <div>
              <img class="object-center object-cover h-auto w-full" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="photo">
            </div>
            <div class="text-center py-8 sm:py-6">
              <p class="text-xl text-white font-bold mb-2">Dany Bailey</p>
              <div class='flex justify-evenly'>
                <p class="text-base text-gray-400 font-normal">010-9422-4230</p>
                <div class='w-10 text-white'>|</div>
                <p class="text-base text-gray-400 font-normal">example.gmail.com</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </section>
  </div>
{% endblock content %}