{% extends 'base.html' %}

{% load static %}

{% block content %}
  <style>
    ul {
      margin-left: 20px;
      margin-top: 14px 0;
      display: inline-block;
    }

    li {
      margin-top: 10px;

    }

    .aaa a {
      text-decoration: underline;
      color: blue;
      display: inline-block;
    }

    h1 {
      font-size: 2em;
      line-height: 32px;
      font-weight: bolder;
      margin: 19px 0;
    }

    h2 {
      font-size: 1.5em;
      line-height: 24px;
      font-weight: bolder;
      margin: 14px 0;
    }

    p {
      margin: 10px 0;
    }

    pre {
      padding: 12px;
      font-size: 12px;
      overflow: auto;
      background: #f8f8f8;
    }

    code {
      color: #e74c3c;
      white-space: normal;
      line-height: 24px;
      font-family: monospace;
      font-size: 1em;
      background-color: white;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      padding: 2px 5px;
    }

    blockquote {

      border: 1px solid #27a9e3;
      margin-left: 0;
      margin-right: 0;
      padding-left: 20px;
      padding-right: 20px;
      border-left: 10px solid #27a9e3;

    }
  </style>
  <!-- component -->
  <div class="bg-white p-6">
    <nav class="flex flex-row sm:flex-row flex-wrap">
      {% for obj in list %}
        {% if purpose.title == obj.title %}
          <a href="{% url 'research' obj.id %}">
            <button class="py-4 px-6 block hover:text-blue-500 focus:outline-none text-blue-500 border-b-2 font-medium border-blue-500">
              {{obj.title}}
            </button>
          </a>
        {% else %}
          <a href="{% url 'research' obj.id %}">
            <button class="text-gray-600 py-4 px-6 block hover:text-blue-500 focus:outline-none">
              {{obj.title}}
            </button>
          </a>
        {% endif %}
      {% endfor %}
    </nav>
    <div class="bg-white-100 text-gray-700 font-sans quicksand">

      <div class="p-10">
        <div class=" order-1 md:order-2  mx-auto">
          <div class="aaa leading-loose tracking-tight">
            {{purpose.content|safe}}
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}