{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- component -->
  <!-- component -->
  <div class="antialiased w-full h-full bg-white text-gray-400 font-inter p-10">
    <div class="container px-4 mx-auto">
      <div>
        <div id="title" class="text-center my-10">
          <h1 class="font-bold text-4xl text-black">Research Arena</h1>
          <p class="text-light text-gray-500 text-xl">
            Here are our research
          </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-evenly gap-10 pt-10">
          {% for obj in obj %}
            <div id="plan" class="rounded-lg text-center overflow-hidden w-full transform hover:shadow-2xl hover:scale-105 transition duration-200 ease-in">
              <div id="title" class="w-full py-5 border-b border-gray-800">
                <h2 class="font-bold text-3xl text-black">{{obj.title}}</h2>

              </div>
              <div id="content" class="">
                <div id="icon" class="my-5  overflow-hidden">
                  <img class="h-4/6 mx-auto" src="{{obj.thumnail.url}}" alt="">
                </div>
                <div id="contain" class="leading-8 mb-10 text-lg font-light">

                  <div id="choose" class="w-full mt-10 px-6">
                    <a href="{% url 'research' obj.id %}" class="w-full block bg-gray-900 font-medium text-xl py-4 rounded-xl hover:shadow-lg transition duration-200 ease-in-out hover:bg-indigo-600 hover:text-white">View</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
{% endblock content %}
