{% extends 'base.html' %}
{% load static %}

{% block content %}

  <head>
    <link rel="stylesheet" href="{% static 'css/dist/newsstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/dist/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/dist/aos.css' %}">
  </head>
    <!-- Container for demo purpose -->
  <div class="container  px-6 mx-auto">

    <!-- Section: Design Block -->
    <section class=" text-gray-800 text-center lg:text-left background-radial-gradient">

      <div class="relative overflow-hidden bg-no-repeat bg-cover" style="
          ">
          <div id="carouselExampleControls" class="carousel slide relative" data-bs-ride="carousel">
  <!--1600 x 700-->
  <div class="carousel-inner relative w-full overflow-hidden">
    <div class="carousel-item active relative float-left w-full">
      <img
        src="{{firstpic.image.url}}"
        class="block w-full"
        alt="Wild Landscape"
      />
    </div>
    {% for obj in pic %}
    <div class="carousel-item relative float-left w-full">
      <img
        src="{{obj.image.url}}"
        class="block w-full"
        alt="Camera"
      />
    </div>
    {% endfor %}
  </div>
  <button
    class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
        <div class="absolute hidden md:block top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
        style = 'background-color : rgba(15, 82, 186, 0.8)'
          >
          <div class="flex justify-center items-center h-full">
            <div class="text-center text-white px-6 py-6 md:py-0 md:px-12 max-w-[800px]">
              <h2 class=" text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight leading-tight mb-12">
                C&C Lab 
              </h2>
              <p class="text-lg">
                The Environmental Restoration Lab aims to cultivate competent environmental and energy engineers who can actively cope with the community by acquiring environmental and energy-related expertise to solve the increasingly serious environmental pollution problem in the 21st century.

                In particular, it uses expertise such as hydrogen energy, waste resources, biomass, and geothermal as a way to secure eco-friendly renewable energy and education to actively and effectively respond to climate change and greenhouse gas reduction as a result.
              </p>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- Section: Design Block -->
    
  </div>
  <!-- Container for demo purpose -->

  
  <!-- Container for demo purpose -->
  <div class="container my-12 px-6 mx-auto block md:hidden">

    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800 text-center lg:text-left">

      <div class="grid lg:grid-cols-2 gap-6 xl:gap-12 items-center">
        <div class="mb-6 lg:mb-0">
          <h2 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight">
            <span class="text-blue-600">00000 LAB</span>
          </h2>
        </div>
        <div class="mb-6 lg:mb-0">
          <p class="text-gray-500 text-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima officia consequatur
            adipisci tenetur repudiandae rerum quos.
          </p>
        </div>
      </div>

    </section>
    <!-- Section: Design Block -->
    
  </div>
  <!-- Container for demo purpose -->
<!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto">

  <!-- Section: Design Block -->
  <section class="mb-32 text-gray-800 text-center lg:text-left">
    <h2 class="text-3xl font-bold mb-12 text-left uppercase">Projects we are proud of</h2>
    <div class="grid lg:grid-cols-4 gap-x-6">
      {% for obj in Re %}
      <div class="mb-12 lg:mb-0">
        <div class="shadow-lg rounded-lg relative overflow-hidden bg-no-repeat bg-cover mb-6"
          style="background-position: 50%;" data-mdb-ripple="true" data-mdb-ripple-color="light">
          <img src="{{ obj.thumbnail.url }}" class="w-full" />
          <a href="#!">
            <div
              class="mask absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"
              style="background-color: rgba(251, 251, 251, 0.2)"></div>
          </a>
        </div>
        <h5 class="text-lg font-bold mb-3">{{obj.title}}</h5>
      </div>
      {% endfor %}
    </div>

  </section>
  <!-- Section: Design Block -->

</div>
<!-- Container for demo purpose -->


{% comment %} <!-- Container for demo purpose -->
<div class = 'mx-auto container md:grid md:grid-cols-4'>
 <div class="accordion" id="accordionExample">
  <div class="accordion-item bg-white border border-gray-200">
    <h2 class="accordion-header mb-0" id="headingOne">
      <button class="
        accordion-button
        relative
        flex
        items-center
        w-full
        py-4
        px-5
        text-base text-gray-800 text-left
        bg-white
        border-0
        rounded-none
        transition
        focus:outline-none
      " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
        aria-controls="collapseOne">
        Schedule
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body py-4 px-5">
        <ol class="">
          {% for obj in tasks %}
          <li>
            <div class="flex flex-start items-center pt-3">
              <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
              <p class="text-gray-500 text-sm">{{obj.date}}</p>
            </div>
            <div class="mt-0.5 ml-4 mb-6">
              <h4 class="text-gray-800 font-semibold text-xl mb-1.5">{{obj.work}}</h4>
            </div>
          </li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</div>

  <div class="accordion" id="accordionExample">
  <div class="accordion-item bg-white border border-gray-200">
    <h2 class="accordion-header mb-0" id="headingOne">
      <button class="
        accordion-button
        relative
        flex
        items-center
        w-full
        py-4
        px-5
        text-base text-gray-800 text-left
        bg-white
        border-0
        rounded-none
        transition
        focus:outline-none
      " type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true"
        aria-controls="collapseTwo">
        News
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body py-4 px-5">
        <ol class="">
          {% for obj in News %}
          <a href="{% url 'post_detail' obj.id %}">
          <li>
            <div class="flex flex-start items-center pt-3">
              <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
              <p class="text-gray-500 text-sm">{{obj.created_at}}</p>
            </div>
            <div class="mt-0.5 ml-4 mb-6">
              <h4 class="text-gray-800 font-semibold text-xl mb-1.5">{{obj.title}}</h4>
            </div>
          </li>
          </a>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</div>
  
<div class="accordion" id="accordionExample">
  <div class="accordion-item bg-white border border-gray-200">
    <h2 class="accordion-header mb-0" id="headingOne">
      <button class="
        accordion-button
        relative
        flex
        items-center
        w-full
        py-4
        px-5
        text-base text-gray-800 text-left
        bg-white
        border-0
        rounded-none
        transition
        focus:outline-none
      " type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true"
        aria-controls="collapseThree">
        Reaserch
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body py-4 px-5">
        <ol class="">
          {% for obj in research %}
          <a href="{% url 'post_detail' obj.id %}">
          <li>
            <div class="flex flex-start items-center pt-3">
              <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
              <p class="text-gray-500 text-sm">{{obj.created_at}}</p>
            </div>
            <div class="mt-0.5 ml-4 mb-6">
              <h4 class="text-gray-800 font-semibold text-xl mb-1.5">{{obj.title}}</h4>
            </div>
          </li>
          </a>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="accordion" id="accordionExample">
  <div class="accordion-item bg-white border border-gray-200">
    <h2 class="accordion-header mb-0" id="headingOne">
      <button class="
        accordion-button
        relative
        flex
        items-center
        w-full
        py-4
        px-5
        text-base text-gray-800 text-left
        bg-white
        border-0
        rounded-none
        transition
        focus:outline-none
      " type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true"
        aria-controls="collapseFour">
        etc..
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body py-4 px-5">
        <ol class="">
          {% for obj in os %}
          <a href="{% url 'post_detail' obj.id %}">
          <li>
            <div class="flex flex-start items-center pt-3">
              <div class="bg-gray-300 w-2 h-2 rounded-full -ml-1 mr-3"></div>
              <p class="text-gray-500 text-sm">{{obj.created_at}}</p>
            </div>
            <div class="mt-0.5 ml-4 mb-6">
              <h4 class="text-gray-800 font-semibold text-xl mb-1.5">{{obj.title}}</h4>
            </div>
          </li>
          </a>
          {% endfor %}
        </ol>
      </div>
    </div>
  </div>
</div>
</div> {% endcomment %}
<!-- Container for demo purpose -->
  {% comment %} <section class="py-12 h-screen">
    <div class="container max-w-full px-4 py-12 mx-auto">
      <div class="grid gap-4 mx-4 sm:grid-cols-12">
        <div class="col-span-12 sm:col-span-3">
          <div class="text-center sm:text-left mb-14 before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0 before:dark:bg-violet-400">
            <h3 class="text-3xl font-semibold mb-10">EXAMPLE NEWS</h3>
            <span class="text-sm font-bold tracking-wider uppercase text-gray-400">미래를 향해 도약하는 EXAMPLE 연구소의 다양한 소식을 전해드립니다.</span>
          </div>
        </div>
        <div class="relative col-span-12 px-4 space-y-6 sm:col-span-9">
          <div class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 before:dark:bg-gray-700">
            {% for obj in News %}
              <a href="{% url 'post_detail' obj.id %}" class="hover:text-gray-500">
                <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:dark:bg-violet-400 pb-3 pt-2 border-b-2 border-gray-200">

                  <h3 class="text-xl font-semibold tracking-wide">{{obj.title}}
                  </h3>
                  <time class="text-xs tracking-wide uppercase dark:text-gray-400">{{obj.created_at|date:'M Y'}}</time>
                  <p class="mt-3">Pellentesque feugiat ante at nisl efficitur, in mollis orci scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

                </div>
              </a>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}
  <!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto">

  <!-- Section: Design Block -->
  <section class="mb-32 text-gray-800">
    <style>
      .map-container-2 {
        height: 500px;
      }
    </style>
    
    <div class="block rounded-lg shadow-lg bg-white">
      <div class="flex flex-wrap items-center">
        <div class="grow-0 shrink-0 basis-auto block w-full lg:flex lg:w-6/12 xl:w-4/12">
          <div class="map-container-2 w-full">
            <iframe src="https://maps.google.com/maps?q=%EA%B2%BD%EA%B8%B0%EB%8C%80%ED%95%99%EA%B5%90%20%EB%A6%AC%EC%84%9C%EC%B9%98%EC%84%BC%ED%84%B0&t=&z=13&ie=UTF8&iwloc=&output=embed" class="left-0 top-0 h-full w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="grow-0 shrink-0 basis-auto w-full lg:w-6/12 xl:w-8/12">
          <div class="flex flex-wrap pt-12 lg:pt-0">
            <div class="mb-12 grow-0 shrink-0 basis-auto w-full md:w-6/12 lg:w-full xl:w-6/12 px-3 md:px-6 xl:px-12">
              <div class="flex items-start">
                <div class="shrink-0">
                  <div class="p-4 bg-blue-600 rounded-md shadow-md w-14 h-14 flex items-center justify-center">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="headset" class="w-5 text-white"
                      role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path fill="currentColor"
                        d="M192 208c0-17.67-14.33-32-32-32h-16c-35.35 0-64 28.65-64 64v48c0 35.35 28.65 64 64 64h16c17.67 0 32-14.33 32-32V208zm176 144c35.35 0 64-28.65 64-64v-48c0-35.35-28.65-64-64-64h-16c-17.67 0-32 14.33-32 32v112c0 17.67 14.33 32 32 32h16zM256 0C113.18 0 4.58 118.83 0 256v16c0 8.84 7.16 16 16 16h16c8.84 0 16-7.16 16-16v-16c0-114.69 93.31-208 208-208s208 93.31 208 208h-.12c.08 2.43.12 165.72.12 165.72 0 23.35-18.93 42.28-42.28 42.28H320c0-26.51-21.49-48-48-48h-32c-26.51 0-48 21.49-48 48s21.49 48 48 48h181.72c49.86 0 90.28-40.42 90.28-90.28V256C507.42 118.83 398.82 0 256 0z">
                      </path>
                    </svg>
                  </div>
                </div>
                <div class="grow ml-6">
                  <p class="font-bold mb-1">address</p>
                  <p class="text-gray-500">경기도 수원시 영통구 광교산로 154-42 3층 312호</p>
                  <p class="text-gray-500"></p>
                </div>
              </div>
            </div>
            <div class="mb-12 grow-0 shrink-0 basis-auto w-full md:w-6/12 lg:w-full xl:w-6/12 px-3 md:px-6 xl:px-12">
              <div class="flex items-start">
                <div class="shrink-0">
                  <div class="p-4 bg-blue-600 rounded-md shadow-md w-14 h-14 flex items-center justify-center">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dollar-sign"
                      class="w-3 text-white" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512">
                      <path fill="currentColor"
                        d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z">
                      </path>
                    </svg>
                  </div>
                </div>
                <div class="grow ml-6">
                  <p class="font-bold mb-1">any questions</p>
                  <p class="text-gray-500">sales@example.com</p>
                  <p class="text-gray-500">+1 234-567-89</p>
                </div>
              </div>
            </div>
            <div class="mb-12 grow-0 shrink-0 basis-auto w-full md:w-6/12 lg:w-full xl:w-6/12 px-3 md:px-6 xl:px-12">
              <div class="flex align-start">
                <div class="shrink-0">
                  <div class="p-4 bg-blue-600 rounded-md shadow-md w-14 h-14 flex items-center justify-center">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="newspaper"
                      class="w-5 text-white" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                      <path fill="currentColor"
                        d="M552 64H88c-13.255 0-24 10.745-24 24v8H24c-13.255 0-24 10.745-24 24v272c0 30.928 25.072 56 56 56h472c26.51 0 48-21.49 48-48V88c0-13.255-10.745-24-24-24zM56 400a8 8 0 0 1-8-8V144h16v248a8 8 0 0 1-8 8zm236-16H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm-208-96H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm0-96H140c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h360c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12z">
                      </path>
                    </svg>
                  </div>
                </div>
                <div class="grow ml-6">
                  <p class="font-bold mb-1">운영시간</p>
                  <p class="text-gray-500">09:00 A.M. ~ 06:00 PM</p>
                  <p class="text-gray-500"></p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
  
</div>
<!-- Container for demo purpose -->
  
  
  <script src="{% static 'js/default.js' %}" type="text/javascript"></script>

  <script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides((slideIndex += n));
    }

    function currentSlide(n) {
      showSlides((slideIndex = n));
    }

    function showSlides(n) {
      let i;
      let slides = document.querySelectorAll(".mySlides");
      let dots = document.querySelectorAll(".dot");
      if (n > slides.length) {
        slideIndex = 1;
      }
      if (n < 1) {
        slideIndex = slides.length;
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i]
          .className
          .replace("bg-gray-800", "bg-gray-400");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className = dots[slideIndex - 1]
        .className
        .replace("bg-gray-400", "bg-gray-800");
    }
  </script>
{% endblock content %}
